Hi<br>
<br>
{{username}} invited you to his/her team.<br>
{% if new_user == true %}
    You need to create account to join this team.
    <a href = ""> Download App</a><br>
{% endif %}
<a href = "{{accept_link}}">Accept</a><br>
<a href = "{{reject_link}}">Reject</a><br>
<br>
Thank you,<br>
Grid Waxara Team