Dear {{username}}<br>
<br>
You have requested that your password be reset. Please write following code in verify code box of recover password window.<br>
<br>
{{verify_code}}<br>
<br>
This code will expire in 1 day and can be used only once.<br>
<br>
Thank you,<br>
Grid Waxara Team