Hi<br>
<br>
We're ready to activate your account. We need to verify your email account.<br>
Please click following link to verify your email address.<br>
<a href = "{{link}}">Verify Address</a><br>
<br>
Thank you,<br>
Grid Waxara Team