<html>
<title>Team invitation</title>
<body>

<div style = "border-bottom: 2px solid rgb(0, 127, 134); font-size:32px; line-height:1.3em;">
    Invitation result
</div>
{% if not error_msg %}
    {% if action == "accept" %}
        Invitation was accepted.
    {% endif %}

    {% if action == "rejected" %}
        Invitation was rejected.
    {% endif %}
{% else %}
    Action was failed. <br>
    {{error_msg}}
{% endif %}

</body>