<html>
<head>
	<title>
		Email verification result
	</title>
</head>
<body>
	{% if msg == "" %}
		Your email has been verified, please login into your account.
	{% else %}
		Verification was failed. <br>
		{{msg}}
	{% endif %}

</body>

</html>